<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: test hooks, triggerable from adb (which holds DUMP) but not by other apps. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DebugReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
